# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
/*
# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!conf/
!.storage/lovelace.*

# File ignores
*.log
*.log.*
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__

# Other files
.ps4-games.0CFE45A9E980_861a.json

# Ignore folders.
.storage
.cloud
.google.token
zigbee2mqtt
scripts

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

